In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Import Data file
health_exp = pd.read_csv("../Resources/health_expenditure.csv")
health_exp_df = pd.DataFrame(health_exp)
health_exp_df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/16/22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.0,2021.0
4,Aruba,ABW,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.195936,4.960832,4.841805,4.252858,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.773108,8.855524,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355,NaN,NaN
268,Zambia,ZMB,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203,NaN,NaN
269,Zimbabwe,ZWE,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN

In [3]:
# Droping the top 3 rows
health_exp_df = health_exp_df.drop(range(0,3))
health_exp_df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.0,2021.0
4,Aruba,ABW,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Africa Eastern and Southern,AFE,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386,NaN,NaN
6,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
7,Africa Western and Central,AFW,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.195936,4.960832,4.841805,4.252858,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.773108,8.855524,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355,NaN,NaN
268,Zambia,ZMB,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203,NaN,NaN
269,Zimbabwe,ZWE,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN

In [4]:
# Setting first column as Index
new_header = health_exp_df.iloc[0]
health_exp_df = health_exp_df[1:]
health_exp_df.columns = new_header
health_exp_df

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Africa Eastern and Southern,AFE,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386,NaN,NaN
6,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
7,Africa Western and Central,AFW,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100,NaN,NaN
8,Angola,AGO,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.195936,4.960832,4.841805,4.252858,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.773108,8.855524,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355,NaN,NaN
268,Zambia,ZMB,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203,NaN,NaN
269,Zimbabwe,ZWE,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN

In [5]:
# Name of the columns
health_exp_df.columns

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                 1960.0,           1961.0,           1962.0,           1963.0,
                 1964.0,           1965.0,           1966.0,           1967.0,
                 1968.0,           1969.0,           1970.0,           1971.0,
                 1972.0,           1973.0,           1974.0,           1975.0,
                 1976.0,           1977.0,           1978.0,           1979.0,
                 1980.0,           1981.0,           1982.0,           1983.0,
                 1984.0,           1985.0,           1986.0,           1987.0,
                 1988.0,           1989.0,           1990.0,           1991.0,
                 1992.0,           1993.0,           1994.0,           1995.0,
                 1996.0,           1997.0,           1998.0,           1999.0,
                 2000.0,           2001.0,           2002.0,           2003.0,
                 2004.0,           2005.0,           2006.0,           2007.0,
                 2008.0,           2009.0,           2010.0,           2011.0,
                 2012.0,           2013.0,           2014.0,           2015.0,
                 2016.0,           2017.0,           2018.0,           2019.0,
                 2020.0,           2021.0],
      dtype='object', name=3)

In [6]:
# Type of columns
health_exp_df.dtypes

3
Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960.0            float64
                   ...
2017.0            float64
2018.0            float64
2019.0            float64
2020.0            float64
2021.0            float64
Length: 66, dtype: object

In [7]:
# Dropping the columns from year 1960 to 2000
health_exp_df = health_exp_df.drop(health_exp_df.columns[2:45], inplace = False, axis = 1)
health_exp_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Africa Eastern and Southern,AFE,6.390627,5.969416,6.635666,6.710734,6.528098,6.492506,6.468483,6.299643,...,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386,NaN,NaN
6,Afghanistan,AFG,NaN,9.443390,8.941258,9.808474,9.948290,10.622766,9.904675,10.256495,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
7,Africa Western and Central,AFW,3.770256,3.387634,4.681099,4.481882,4.277262,4.139578,3.908460,3.731591,...,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100,NaN,NaN
8,Angola,AGO,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,2.974388,3.322905,...,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,4.945151,4.832372,5.757578,5.514405,5.205854,5.529299,5.820770,5.761911,...,5.195936,4.960832,4.841805,4.252858,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,7.939017,7.464463,7.915304,7.764534,7.689974,7.692216,7.681384,7.880248,...,8.773108,8.855524,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355,NaN,NaN
268,Zambia,ZMB,6.552485,6.794035,7.189994,7.049950,6.863322,5.873673,4.352650,4.012075,...,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203,NaN,NaN
269,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN

In [8]:
# Dropping the 2021 column
health_exp_df = health_exp_df.drop(columns = health_exp_df.columns[21:23], inplace = False, axis = 1)
health_exp_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
4,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Africa Eastern and Southern,AFE,6.390627,5.969416,6.635666,6.710734,6.528098,6.492506,6.468483,6.299643,...,6.922891,6.773979,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386
6,Afghanistan,AFG,NaN,9.443390,8.941258,9.808474,9.948290,10.622766,9.904675,10.256495,...,8.569672,8.561907,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202
7,Africa Western and Central,AFW,3.770256,3.387634,4.681099,4.481882,4.277262,4.139578,3.908460,3.731591,...,3.521739,3.550677,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100
8,Angola,AGO,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,2.974388,3.322905,...,2.695100,2.645608,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,4.945151,4.832372,5.757578,5.514405,5.205854,5.529299,5.820770,5.761911,...,5.159331,4.769531,5.195936,4.960832,4.841805,4.252858,NaN,NaN,NaN,NaN
267,South Africa,ZAF,7.939017,7.464463,7.915304,7.764534,7.689974,7.692216,7.681384,7.880248,...,8.665970,8.741462,8.773108,8.855524,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355
268,Zambia,ZMB,6.552485,6.794035,7.189994,7.049950,6.863322,5.873673,4.352650,4.012075,...,3.719296,3.460532,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203
269,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.475839,8.081738,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565

In [9]:
health_exp_df.columns

Index(['Country Name', 'Country Code',         2001.0,         2002.0,
               2003.0,         2004.0,         2005.0,         2006.0,
               2007.0,         2008.0,         2009.0,         2010.0,
               2011.0,         2012.0,         2013.0,         2014.0,
               2015.0,         2016.0,         2017.0,         2018.0,
               2019.0],
      dtype='object', name=3)

In [10]:
# Setting the Index
health_exp_df = health_exp_df.set_axis(['Country Name', 'Country Code', '2001', '2002', '2003', '2004', '2005',         
                                        '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', 
                                        '2015', '2016', '2017', '2018', '2019'], axis = 1)
health_exp_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
4,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Africa Eastern and Southern,AFE,6.390627,5.969416,6.635666,6.710734,6.528098,6.492506,6.468483,6.299643,...,6.922891,6.773979,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386
6,Afghanistan,AFG,NaN,9.443390,8.941258,9.808474,9.948290,10.622766,9.904675,10.256495,...,8.569672,8.561907,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202
7,Africa Western and Central,AFW,3.770256,3.387634,4.681099,4.481882,4.277262,4.139578,3.908460,3.731591,...,3.521739,3.550677,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100
8,Angola,AGO,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,2.974388,3.322905,...,2.695100,2.645608,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,4.945151,4.832372,5.757578,5.514405,5.205854,5.529299,5.820770,5.761911,...,5.159331,4.769531,5.195936,4.960832,4.841805,4.252858,NaN,NaN,NaN,NaN
267,South Africa,ZAF,7.939017,7.464463,7.915304,7.764534,7.689974,7.692216,7.681384,7.880248,...,8.665970,8.741462,8.773108,8.855524,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355
268,Zambia,ZMB,6.552485,6.794035,7.189994,7.049950,6.863322,5.873673,4.352650,4.012075,...,3.719296,3.460532,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203
269,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.475839,8.081738,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565

In [11]:
health_exp_df.count()

Country Name    266
Country Code    266
2001            232
2002            233
2003            235
2004            235
2005            235
2006            235
2007            235
2008            235
2009            235
2010            236
2011            237
2012            236
2013            235
2014            235
2015            235
2016            234
2017            235
2018            235
2019            234
dtype: int64

In [12]:
health_exp_df = health_exp_df.dropna()
health_exp_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
5,Africa Eastern and Southern,AFE,6.390627,5.969416,6.635666,6.710734,6.528098,6.492506,6.468483,6.299643,...,6.922891,6.773979,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386
7,Africa Western and Central,AFW,3.770256,3.387634,4.681099,4.481882,4.277262,4.139578,3.908460,3.731591,...,3.521739,3.550677,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100
8,Angola,AGO,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,2.974388,3.322905,...,2.695100,2.645608,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360
10,Andorra,AND,5.865939,6.098399,5.639918,5.381253,5.739886,5.064504,5.028323,5.785686,...,6.580060,6.086336,6.126280,6.155028,6.131505,6.283535,6.305263,6.589455,6.751625,6.711585
11,Arab World,ARB,4.284498,4.266429,4.146222,3.831061,3.512280,3.480394,3.583434,3.409167,...,3.907031,3.918381,3.986920,4.241538,4.561971,5.103330,5.055784,5.308416,5.050736,5.085542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Vanuatu,VUT,3.393388,3.904378,3.506919,3.539915,3.305286,3.321756,3.107856,3.138102,...,3.526561,3.598194,3.935628,4.392345,3.646688,4.321683,2.931301,2.762915,3.346379,3.360347
263,World,WLD,9.026567,9.368701,9.517152,9.419202,9.338652,9.258065,9.101544,9.097985,...,9.495277,9.379718,9.389614,9.367164,9.448242,9.737717,9.862693,9.766083,9.704847,9.830785
264,Samoa,WSM,3.933475,4.640519,4.285870,4.648935,4.762528,5.018382,4.871751,4.657481,...,5.291891,5.440127,5.079440,6.449572,6.607532,5.787550,5.425002,5.567507,5.471911,6.363094
267,South Africa,ZAF,7.939017,7.464463,7.915304,7.764534,7.689974,7.692216,7.681384,7.880248,...,8.665970,8.741462,8.773108,8.855524,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355
268,Zambia,ZMB,6.552485,6.794035,7.189994,7.049950,6.863322,5.873673,4.352650,4.012075,...,3.719296,3.460532,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203

In [13]:
# Resetting the index to Zero
health_exp_df = health_exp_df.reset_index(drop=True)
health_exp_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Africa Eastern and Southern,AFE,6.390627,5.969416,6.635666,6.710734,6.528098,6.492506,6.468483,6.299643,...,6.922891,6.773979,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386
1,Africa Western and Central,AFW,3.770256,3.387634,4.681099,4.481882,4.277262,4.139578,3.908460,3.731591,...,3.521739,3.550677,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100
2,Angola,AGO,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,2.974388,3.322905,...,2.695100,2.645608,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360
3,Andorra,AND,5.865939,6.098399,5.639918,5.381253,5.739886,5.064504,5.028323,5.785686,...,6.580060,6.086336,6.126280,6.155028,6.131505,6.283535,6.305263,6.589455,6.751625,6.711585
4,Arab World,ARB,4.284498,4.266429,4.146222,3.831061,3.512280,3.480394,3.583434,3.409167,...,3.907031,3.918381,3.986920,4.241538,4.561971,5.103330,5.055784,5.308416,5.050736,5.085542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Vanuatu,VUT,3.393388,3.904378,3.506919,3.539915,3.305286,3.321756,3.107856,3.138102,...,3.526561,3.598194,3.935628,4.392345,3.646688,4.321683,2.931301,2.762915,3.346379,3.360347
224,World,WLD,9.026567,9.368701,9.517152,9.419202,9.338652,9.258065,9.101544,9.097985,...,9.495277,9.379718,9.389614,9.367164,9.448242,9.737717,9.862693,9.766083,9.704847,9.830785
225,Samoa,WSM,3.933475,4.640519,4.285870,4.648935,4.762528,5.018382,4.871751,4.657481,...,5.291891,5.440127,5.079440,6.449572,6.607532,5.787550,5.425002,5.567507,5.471911,6.363094
226,South Africa,ZAF,7.939017,7.464463,7.915304,7.764534,7.689974,7.692216,7.681384,7.880248,...,8.665970,8.741462,8.773108,8.855524,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355
227,Zambia,ZMB,6.552485,6.794035,7.189994,7.049950,6.863322,5.873673,4.352650,4.012075,...,3.719296,3.460532,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203

In [14]:
for country in health_exp_df['Country Name'].unique():
    print(country)

Africa Eastern and Southern
Africa Western and Central
Angola
Andorra
Arab World
United Arab Emirates
Argentina
Armenia
Antigua and Barbuda
Australia
Austria
Azerbaijan
Burundi
Belgium
Benin
Burkina Faso
Bangladesh
Bulgaria
Bahrain
Bahamas, The
Bosnia and Herzegovina
Belarus
Belize
Bolivia
Brazil
Barbados
Brunei Darussalam
Bhutan
Botswana
Central African Republic
Canada
Central Europe and the Baltics
Switzerland
Chile
China
Cote d'Ivoire
Cameroon
Congo, Dem. Rep.
Congo, Rep.
Colombia
Comoros
Cabo Verde
Costa Rica
Caribbean small states
Cuba
Cyprus
Czechia
Germany
Djibouti
Dominica
Denmark
Dominican Republic
Algeria
East Asia & Pacific (excluding high income)
Early-demographic dividend
East Asia & Pacific
Europe & Central Asia (excluding high income)
Europe & Central Asia
Ecuador
Egypt, Arab Rep.
Euro area
Eritrea
Spain
Estonia
Ethiopia
European Union
Fragile and conflict affected situations
Finland
Fiji
France
Micronesia, Fed. Sts.
Gabon
United Kingdom
Georgia
Ghana
Guinea
Gambia, The
Guinea-Bissau
Equatorial Guinea
Greece
Grenada
Guatemala
Guyana
High income
Honduras
Heavily indebted poor countries (HIPC)
Croatia
Haiti
Hungary
IBRD only
IDA & IBRD total
IDA total
IDA blend
Indonesia
IDA only
India
Ireland
Iran, Islamic Rep.
Iceland
Israel
Italy
Jamaica
Jordan
Japan
Kazakhstan
Kenya
Kyrgyz Republic
Cambodia
Kiribati
St. Kitts and Nevis
Korea, Rep.
Kuwait
Latin America & Caribbean (excluding high income)
Lao PDR
Lebanon
Liberia
St. Lucia
Latin America & Caribbean
Least developed countries: UN classification
Low income
Sri Lanka
Lower middle income
Low & middle income
Lesotho
Late-demographic dividend
Lithuania
Luxembourg
Latvia
Morocco
Monaco
Moldova
Madagascar
Maldives
Middle East & North Africa
Mexico
Marshall Islands
Middle income
North Macedonia
Mali
Malta
Myanmar
Middle East & North Africa (excluding high income)
Mongolia
Mozambique
Mauritania
Mauritius
Malawi
Malaysia
North America
Namibia
Niger
Nigeria
Nicaragua
Netherlands
Norway
Nepal
Nauru
New Zealand
OECD members
Oman
Other small states
Pakistan
Panama
Peru
Philippines
Palau
Papua New Guinea
Poland
Pre-demographic dividend
Portugal
Paraguay
Pacific island small states
Post-demographic dividend
Qatar
Romania
Russian Federation
Rwanda
South Asia
Saudi Arabia
Sudan
Senegal
Singapore
Solomon Islands
Sierra Leone
El Salvador
San Marino
Serbia
Sub-Saharan Africa (excluding high income)
Sub-Saharan Africa
Small states
Sao Tome and Principe
Suriname
Slovak Republic
Slovenia
Sweden
Eswatini
Seychelles
Chad
East Asia & Pacific (IDA & IBRD countries)
Europe & Central Asia (IDA & IBRD countries)
Togo
Thailand
Tajikistan
Turkmenistan
Latin America & the Caribbean (IDA & IBRD countries)
Middle East & North Africa (IDA & IBRD countries)
Tonga
South Asia (IDA & IBRD)
Sub-Saharan Africa (IDA & IBRD countries)
Trinidad and Tobago
Tunisia
Turkiye
Tuvalu
Tanzania
Uganda
Ukraine
Upper middle income
Uruguay
United States
Uzbekistan
St. Vincent and the Grenadines
Venezuela, RB
Vietnam
Vanuatu
World
Samoa
South Africa
Zambia

In [15]:
# Import Data file
country = pd.read_csv("../Resources/country-codes.csv")
country_df = pd.DataFrame(country)
country_df

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [16]:
country_df = country_df.set_axis(['Country Name', 'Country Alpha-2 Code', 'Country Code', 'Numeric code',
                                 'ISO 3166-2'], axis = 1)
country_df

,Country Name,Country Alpha-2 Code,Country Code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [17]:
new_df = pd.merge(health_exp_df, country_df, on= 'Country Code', suffixes = ['', '_country' ])
new_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,Country Name_country,Country Alpha-2 Code,Numeric code,ISO 3166-2
0,Angola,AGO,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,2.974388,3.322905,...,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360,Angola,AO,24,ISO 3166-2:AO
1,Andorra,AND,5.865939,6.098399,5.639918,5.381253,5.739886,5.064504,5.028323,5.785686,...,6.131505,6.283535,6.305263,6.589455,6.751625,6.711585,Andorra,AD,20,ISO 3166-2:AD
2,United Arab Emirates,ARE,2.484370,2.717709,2.646344,2.462044,2.320197,2.325414,2.565696,2.928478,...,3.630209,3.583594,3.466015,4.059595,4.145457,4.275049,United Arab Emirates,AE,784,ISO 3166-2:AE
3,Argentina,ARG,8.371798,7.393312,6.894516,7.228683,7.610789,7.640328,7.834551,8.182669,...,9.671291,10.229339,9.001897,10.442255,9.666465,9.510071,Argentina,AR,32,ISO 3166-2:AR
4,Armenia,ARM,4.645627,7.613598,7.179375,6.055085,5.861883,5.850071,5.498146,6.639762,...,10.178270,10.117634,9.951966,10.362705,10.005434,11.335264,Armenia,AM,51,ISO 3166-2:AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Vietnam,VNM,4.511307,3.599675,3.666194,3.799203,4.013875,4.246596,4.302358,4.054258,...,4.612755,4.565437,4.518536,4.712834,5.034489,5.249656,Viet Nam,VN,704,ISO 3166-2:VN
176,Vanuatu,VUT,3.393388,3.904378,3.506919,3.539915,3.305286,3.321756,3.107856,3.138102,...,3.646688,4.321683,2.931301,2.762915,3.346379,3.360347,Vanuatu,VU,548,ISO 3166-2:VU
177,Samoa,WSM,3.933475,4.640519,4.285870,4.648935,4.762528,5.018382,4.871751,4.657481,...,6.607532,5.787550,5.425002,5.567507,5.471911,6.363094,Samoa,WS,882,ISO 3166-2:WS
178,South Africa,ZAF,7.939017,7.464463,7.915304,7.764534,7.689974,7.692216,7.681384,7.880248,...,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355,South Africa,ZA,710,ISO 3166-2:ZA
179,Zambia,ZMB,6.552485,6.794035,7.189994,7.049950,6.863322,5.873673,4.352650,4.012075,...,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203,Zambia,ZM,894,ISO 3166-2:ZM

In [18]:
for country in new_df['Country Name'].unique():
    print(country)

Angola
Andorra
United Arab Emirates
Argentina
Armenia
Antigua and Barbuda
Australia
Austria
Azerbaijan
Burundi
Belgium
Benin
Burkina Faso
Bangladesh
Bulgaria
Bahrain
Bahamas, The
Bosnia and Herzegovina
Belarus
Belize
Bolivia
Brazil
Barbados
Brunei Darussalam
Bhutan
Botswana
Central African Republic
Canada
Switzerland
Chile
China
Cote d'Ivoire
Cameroon
Congo, Dem. Rep.
Congo, Rep.
Colombia
Comoros
Cabo Verde
Costa Rica
Cuba
Cyprus
Czechia
Germany
Djibouti
Dominica
Denmark
Dominican Republic
Algeria
Ecuador
Egypt, Arab Rep.
Eritrea
Spain
Estonia
Ethiopia
Finland
Fiji
France
Micronesia, Fed. Sts.
Gabon
United Kingdom
Georgia
Ghana
Guinea
Gambia, The
Guinea-Bissau
Equatorial Guinea
Greece
Grenada
Guatemala
Guyana
Honduras
Croatia
Haiti
Hungary
Indonesia
India
Ireland
Iran, Islamic Rep.
Iceland
Israel
Italy
Jamaica
Jordan
Japan
Kazakhstan
Kenya
Kyrgyz Republic
Cambodia
Kiribati
St. Kitts and Nevis
Korea, Rep.
Kuwait
Lao PDR
Lebanon
Liberia
St. Lucia
Sri Lanka
Lesotho
Lithuania
Luxembourg
Latvia
Morocco
Monaco
Moldova
Madagascar
Maldives
Mexico
Marshall Islands
North Macedonia
Mali
Malta
Myanmar
Mongolia
Mozambique
Mauritania
Mauritius
Malawi
Malaysia
Namibia
Niger
Nigeria
Nicaragua
Netherlands
Norway
Nepal
Nauru
New Zealand
Oman
Pakistan
Panama
Peru
Philippines
Palau
Papua New Guinea
Poland
Portugal
Paraguay
Qatar
Romania
Russian Federation
Rwanda
Saudi Arabia
Sudan
Senegal
Singapore
Solomon Islands
Sierra Leone
El Salvador
San Marino
Serbia
Sao Tome and Principe
Suriname
Slovak Republic
Slovenia
Sweden
Eswatini
Seychelles
Chad
Togo
Thailand
Tajikistan
Turkmenistan
Tonga
Trinidad and Tobago
Tunisia
Turkiye
Tuvalu
Tanzania
Uganda
Ukraine
Uruguay
United States
Uzbekistan
St. Vincent and the Grenadines
Venezuela, RB
Vietnam
Vanuatu
Samoa
South Africa
Zambia

In [19]:
# Import Data file
income_group = pd.read_csv("../Resources/countries_region_income.csv")
income_group_df = pd.DataFrame(income_group)
income_group_df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [20]:
new_health_df = pd.merge(new_df, income_group_df, on= 'Country Code', suffixes = ['_new', '_income'])
new_health_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2018,2019,Country Name_country,Country Alpha-2 Code,Numeric code,ISO 3166-2,Region,IncomeGroup,SpecialNotes,TableName
0,Angola,AGO,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,2.974388,3.322905,...,2.540102,2.533360,Angola,AO,24,ISO 3166-2:AO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
1,Andorra,AND,5.865939,6.098399,5.639918,5.381253,5.739886,5.064504,5.028323,5.785686,...,6.751625,6.711585,Andorra,AD,20,ISO 3166-2:AD,Europe & Central Asia,High income,NaN,Andorra
2,United Arab Emirates,ARE,2.484370,2.717709,2.646344,2.462044,2.320197,2.325414,2.565696,2.928478,...,4.145457,4.275049,United Arab Emirates,AE,784,ISO 3166-2:AE,Middle East & North Africa,High income,NaN,United Arab Emirates
3,Argentina,ARG,8.371798,7.393312,6.894516,7.228683,7.610789,7.640328,7.834551,8.182669,...,9.666465,9.510071,Argentina,AR,32,ISO 3166-2:AR,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Argentina
4,Armenia,ARM,4.645627,7.613598,7.179375,6.055085,5.861883,5.850071,5.498146,6.639762,...,10.005434,11.335264,Armenia,AM,51,ISO 3166-2:AM,Europe & Central Asia,Upper middle income,NaN,Armenia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Vietnam,VNM,4.511307,3.599675,3.666194,3.799203,4.013875,4.246596,4.302358,4.054258,...,5.034489,5.249656,Viet Nam,VN,704,ISO 3166-2:VN,East Asia & Pacific,Lower middle income,NaN,Vietnam
176,Vanuatu,VUT,3.393388,3.904378,3.506919,3.539915,3.305286,3.321756,3.107856,3.138102,...,3.346379,3.360347,Vanuatu,VU,548,ISO 3166-2:VU,East Asia & Pacific,Lower middle income,NaN,Vanuatu
177,Samoa,WSM,3.933475,4.640519,4.285870,4.648935,4.762528,5.018382,4.871751,4.657481,...,5.471911,6.363094,Samoa,WS,882,ISO 3166-2:WS,East Asia & Pacific,Lower middle income,The reporting period for national accounts dat...,Samoa
178,South Africa,ZAF,7.939017,7.464463,7.915304,7.764534,7.689974,7.692216,7.681384,7.880248,...,8.858297,9.109355,South Africa,ZA,710,ISO 3166-2:ZA,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
179,Zambia,ZMB,6.552485,6.794035,7.189994,7.049950,6.863322,5.873673,4.352650,4.012075,...,5.032715,5.312203,Zambia,ZM,894,ISO 3166-2:ZM,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia

In [21]:

new_health_df = new_health_df.drop(['Country Name_country', 'Country Alpha-2 Code', 'Numeric code', 'ISO 3166-2', 'Region',
                                    'SpecialNotes', 'TableName'], axis = 1)
new_health_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,IncomeGroup
0,Angola,AGO,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,2.974388,3.322905,...,2.645608,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360,Lower middle income
1,Andorra,AND,5.865939,6.098399,5.639918,5.381253,5.739886,5.064504,5.028323,5.785686,...,6.086336,6.126280,6.155028,6.131505,6.283535,6.305263,6.589455,6.751625,6.711585,High income
2,United Arab Emirates,ARE,2.484370,2.717709,2.646344,2.462044,2.320197,2.325414,2.565696,2.928478,...,3.670073,3.425204,3.592995,3.630209,3.583594,3.466015,4.059595,4.145457,4.275049,High income
3,Argentina,ARG,8.371798,7.393312,6.894516,7.228683,7.610789,7.640328,7.834551,8.182669,...,9.418216,9.827282,9.780973,9.671291,10.229339,9.001897,10.442255,9.666465,9.510071,Upper middle income
4,Armenia,ARM,4.645627,7.613598,7.179375,6.055085,5.861883,5.850071,5.498146,6.639762,...,9.375878,9.134552,10.323445,10.178270,10.117634,9.951966,10.362705,10.005434,11.335264,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Vietnam,VNM,4.511307,3.599675,3.666194,3.799203,4.013875,4.246596,4.302358,4.054258,...,4.612852,5.001782,5.075562,4.612755,4.565437,4.518536,4.712834,5.034489,5.249656,Lower middle income
176,Vanuatu,VUT,3.393388,3.904378,3.506919,3.539915,3.305286,3.321756,3.107856,3.138102,...,3.598194,3.935628,4.392345,3.646688,4.321683,2.931301,2.762915,3.346379,3.360347,Lower middle income
177,Samoa,WSM,3.933475,4.640519,4.285870,4.648935,4.762528,5.018382,4.871751,4.657481,...,5.440127,5.079440,6.449572,6.607532,5.787550,5.425002,5.567507,5.471911,6.363094,Lower middle income
178,South Africa,ZAF,7.939017,7.464463,7.915304,7.764534,7.689974,7.692216,7.681384,7.880248,...,8.741462,8.773108,8.855524,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355,Upper middle income
179,Zambia,ZMB,6.552485,6.794035,7.189994,7.049950,6.863322,5.873673,4.352650,4.012075,...,3.460532,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203,Low income

In [25]:
# Format year columns to two decimal
new_health_df["2001"] = new_health_df["2001"].map("{:.2f}".format)
new_health_df["2002"] = new_health_df["2002"].map("{:.2f}".format)
new_health_df["2003"] = new_health_df["2003"].map("{:.2f}".format)
new_health_df["2004"] = new_health_df["2004"].map("{:.2f}".format)
new_health_df["2005"] = new_health_df["2005"].map("{:.2f}".format)
new_health_df["2006"] = new_health_df["2006"].map("{:.2f}".format)
new_health_df["2007"] = new_health_df["2007"].map("{:.2f}".format)
new_health_df["2008"] = new_health_df["2008"].map("{:.2f}".format)
new_health_df["2009"] = new_health_df["2009"].map("{:.2f}".format)
new_health_df["2010"] = new_health_df["2010"].map("{:.2f}".format)
new_health_df["2011"] = new_health_df["2011"].map("{:.2f}".format)
new_health_df["2012"] = new_health_df["2012"].map("{:.2f}".format)
new_health_df["2013"] = new_health_df["2013"].map("{:.2f}".format)
new_health_df["2014"] = new_health_df["2014"].map("{:.2f}".format)
new_health_df["2015"] = new_health_df["2015"].map("{:.2f}".format)
new_health_df["2016"] = new_health_df["2016"].map("{:.2f}".format)
new_health_df["2017"] = new_health_df["2017"].map("{:.2f}".format)
new_health_df["2018"] = new_health_df["2018"].map("{:.2f}".format)
new_health_df["2019"] = new_health_df["2019"].map("{:.2f}".format)
new_health_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,IncomeGroup
0,Angola,AGO,4.48,3.33,3.55,3.97,2.85,2.69,2.97,3.32,...,2.65,2.40,2.73,2.43,2.61,2.71,2.79,2.54,2.53,Lower middle income
1,Andorra,AND,5.87,6.10,5.64,5.38,5.74,5.06,5.03,5.79,...,6.09,6.13,6.16,6.13,6.28,6.31,6.59,6.75,6.71,High income
2,United Arab Emirates,ARE,2.48,2.72,2.65,2.46,2.32,2.33,2.57,2.93,...,3.67,3.43,3.59,3.63,3.58,3.47,4.06,4.15,4.28,High income
3,Argentina,ARG,8.37,7.39,6.89,7.23,7.61,7.64,7.83,8.18,...,9.42,9.83,9.78,9.67,10.23,9.00,10.44,9.67,9.51,Upper middle income
4,Armenia,ARM,4.65,7.61,7.18,6.06,5.86,5.85,5.50,6.64,...,9.38,9.13,10.32,10.18,10.12,9.95,10.36,10.01,11.34,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Vietnam,VNM,4.51,3.60,3.67,3.80,4.01,4.25,4.30,4.05,...,4.61,5.00,5.08,4.61,4.57,4.52,4.71,5.03,5.25,Lower middle income
176,Vanuatu,VUT,3.39,3.90,3.51,3.54,3.31,3.32,3.11,3.14,...,3.60,3.94,4.39,3.65,4.32,2.93,2.76,3.35,3.36,Lower middle income
177,Samoa,WSM,3.93,4.64,4.29,4.65,4.76,5.02,4.87,4.66,...,5.44,5.08,6.45,6.61,5.79,5.43,5.57,5.47,6.36,Lower middle income
178,South Africa,ZAF,7.94,7.46,7.92,7.76,7.69,7.69,7.68,7.88,...,8.74,8.77,8.86,8.55,8.79,8.82,8.72,8.86,9.11,Upper middle income
179,Zambia,ZMB,6.55,6.79,7.19,7.05,6.86,5.87,4.35,4.01,...,3.46,3.93,4.69,3.83,4.44,4.48,4.38,5.03,5.31,Low income

In [38]:
new_health_df.dtypes

Country Name    object
Country Code    object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
2012            object
2013            object
2014            object
2015            object
2016            object
2017            object
2018            object
2019            object
IncomeGroup     object
dtype: object

In [43]:
new_health_df['2001'] = pd.to_numeric(new_health_df['2001'])
new_health_df['2002'] = pd.to_numeric(new_health_df['2002'])
new_health_df['2003'] = pd.to_numeric(new_health_df['2003'])
new_health_df['2004'] = pd.to_numeric(new_health_df['2004'])
new_health_df['2005'] = pd.to_numeric(new_health_df['2005'])
new_health_df['2006'] = pd.to_numeric(new_health_df['2006'])
new_health_df['2007'] = pd.to_numeric(new_health_df['2007'])
new_health_df['2008'] = pd.to_numeric(new_health_df['2008'])
new_health_df['2009'] = pd.to_numeric(new_health_df['2009'])
new_health_df['2010'] = pd.to_numeric(new_health_df['2010'])
new_health_df['2011'] = pd.to_numeric(new_health_df['2011'])
new_health_df['2012'] = pd.to_numeric(new_health_df['2012'])
new_health_df['2013'] = pd.to_numeric(new_health_df['2013'])
new_health_df['2014'] = pd.to_numeric(new_health_df['2014'])
new_health_df['2015'] = pd.to_numeric(new_health_df['2015'])
new_health_df['2016'] = pd.to_numeric(new_health_df['2016'])
new_health_df['2017'] = pd.to_numeric(new_health_df['2017'])
new_health_df['2018'] = pd.to_numeric(new_health_df['2018'])
new_health_df['2019'] = pd.to_numeric(new_health_df['2019'])

new_health_df.dtypes

Country Name     object
Country Code     object
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
IncomeGroup      object
dtype: object

In [44]:
# Calculating Average GDP for the year
avg_health_2001 = new_health_df["2001"].mean()
avg_health_2002 = new_health_df["2002"].mean()
avg_health_2003 = new_health_df["2003"].mean()
avg_health_2004 = new_health_df["2004"].mean()
avg_health_2005 = new_health_df["2005"].mean()
avg_health_2006 = new_health_df["2006"].mean()
avg_health_2007 = new_health_df["2007"].mean()
avg_health_2008 = new_health_df["2008"].mean()
avg_health_2009 = new_health_df["2009"].mean()
avg_health_2010 = new_health_df["2010"].mean()
avg_health_2011 = new_health_df["2011"].mean()
avg_health_2012 = new_health_df["2012"].mean()
avg_health_2013 = new_health_df["2013"].mean()
avg_health_2014 = new_health_df["2014"].mean()
avg_health_2015 = new_health_df["2015"].mean()
avg_health_2016 = new_health_df["2016"].mean()
avg_health_2017 = new_health_df["2017"].mean()
avg_health_2018 = new_health_df["2018"].mean()
avg_health_2019 = new_health_df["2019"].mean()

In [45]:
# Create a yearwise DataFrame
yearwise_health_df = pd.DataFrame([
    {"2001": avg_health_2001,
     "2002": avg_health_2002,
     "2003": avg_health_2003,
     "2004": avg_health_2004,
     "2005": avg_health_2005,
     "2006": avg_health_2006,
     "2007": avg_health_2007,
     "2008": avg_health_2008,
     "2009": avg_health_2009,
     "2010": avg_health_2010,
     "2011": avg_health_2011,
     "2012": avg_health_2012,
     "2013": avg_health_2013,
     "2014": avg_health_2014,
     "2015": avg_health_2015,
     "2016": avg_health_2016,
     "2017": avg_health_2017,
     "2018": avg_health_2018,
     "2019": avg_health_2019,   
    }])
yearwise_health_df

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,5.740056,5.828389,5.913278,5.988611,6.068056,6.028056,6.045611,6.121444,6.463278,6.363944,6.280722,6.279444,6.3845,6.440389,6.5475,6.546444,6.482444,6.470889,6.554222

In [46]:
# Format year columns to two decimal
yearwise_health_df["2001"] = yearwise_health_df["2001"].map("{:.2f}".format)
yearwise_health_df["2002"] = yearwise_health_df["2002"].map("{:.2f}".format)
yearwise_health_df["2003"] = yearwise_health_df["2003"].map("{:.2f}".format)
yearwise_health_df["2004"] = yearwise_health_df["2004"].map("{:.2f}".format)
yearwise_health_df["2005"] = yearwise_health_df["2005"].map("{:.2f}".format)
yearwise_health_df["2006"] = yearwise_health_df["2006"].map("{:.2f}".format)
yearwise_health_df["2007"] = yearwise_health_df["2007"].map("{:.2f}".format)
yearwise_health_df["2008"] = yearwise_health_df["2008"].map("{:.2f}".format)
yearwise_health_df["2009"] = yearwise_health_df["2009"].map("{:.2f}".format)
yearwise_health_df["2010"] = yearwise_health_df["2010"].map("{:.2f}".format)
yearwise_health_df["2011"] = yearwise_health_df["2011"].map("{:.2f}".format)
yearwise_health_df["2012"] = yearwise_health_df["2012"].map("{:.2f}".format)
yearwise_health_df["2013"] = yearwise_health_df["2013"].map("{:.2f}".format)
yearwise_health_df["2014"] = yearwise_health_df["2014"].map("{:.2f}".format)
yearwise_health_df["2015"] = yearwise_health_df["2015"].map("{:.2f}".format)
yearwise_health_df["2016"] = yearwise_health_df["2016"].map("{:.2f}".format)
yearwise_health_df["2017"] = yearwise_health_df["2017"].map("{:.2f}".format)
yearwise_health_df["2018"] = yearwise_health_df["2018"].map("{:.2f}".format)
yearwise_health_df["2019"] = yearwise_health_df["2019"].map("{:.2f}".format)
yearwise_health_df

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,5.74,5.83,5.91,5.99,6.07,6.03,6.05,6.12,6.46,6.36,6.28,6.28,6.38,6.44,6.55,6.55,6.48,6.47,6.55

In [47]:
# Sort and Find top 10 countries
top_countries = new_health_df.sort_values(by = "2019", ascending = False)
top_countries.head(10)

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,IncomeGroup
166,Tuvalu,TUV,19.19,13.28,15.42,10.57,11.36,13.38,11.27,10.74,...,15.81,15.33,18.60,16.86,16.70,15.61,16.78,19.04,23.96,Upper middle income
171,United States,USA,13.16,13.98,14.50,14.59,14.61,14.72,14.94,15.27,...,16.20,16.18,16.06,16.25,16.52,16.84,16.81,16.69,16.77,High income
107,Marshall Islands,MHL,16.35,14.38,14.33,17.26,21.96,22.02,18.07,17.09,...,14.94,14.78,15.13,14.94,17.04,17.37,16.08,17.00,16.34,Upper middle income
132,Palau,PLW,7.90,8.02,9.02,9.98,9.34,9.67,9.86,9.45,...,10.82,11.58,12.07,12.12,11.43,12.12,12.04,10.85,15.15,Upper middle income
42,Germany,DEU,9.92,10.18,10.40,10.15,10.31,10.18,10.05,10.25,...,10.78,10.85,11.00,11.02,11.18,11.24,11.33,11.45,11.70,High income
57,"Micronesia, Fed. Sts.",FSM,8.45,7.90,9.57,12.03,17.73,10.74,11.06,11.99,...,13.10,12.28,12.14,11.73,12.46,13.14,12.21,11.70,11.44,Lower middle income
39,Cuba,CUB,6.98,7.11,7.10,6.83,8.76,8.27,10.97,11.31,...,11.31,9.30,10.43,12.14,12.81,12.22,11.71,11.19,11.34,Upper middle income
4,Armenia,ARM,4.65,7.61,7.18,6.06,5.86,5.85,5.50,6.64,...,9.38,9.13,10.32,10.18,10.12,9.95,10.36,10.01,11.34,Upper middle income
28,Switzerland,CHE,9.44,9.85,10.11,10.18,10.00,9.53,9.36,9.48,...,10.02,10.25,10.46,10.62,11.01,11.30,11.48,11.38,11.29,High income
97,Lesotho,LSO,7.28,6.75,6.05,6.06,5.45,6.12,7.28,7.70,...,9.56,9.25,9.55,9.17,9.00,8.76,10.09,10.90,11.27,Lower middle income

In [48]:
# Sort and Find bottom 10 countries
bottom_countries = new_health_df.sort_values(by = "2019", ascending = True)
bottom_countries.head(10)

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,IncomeGroup
102,Monaco,MCO,1.76,1.79,2.08,2.13,2.12,2.02,1.79,1.92,...,2.18,2.23,2.15,2.09,2.03,1.63,1.64,1.60,1.53,High income
43,Djibouti,DJI,2.81,3.59,3.98,3.32,3.22,3.48,3.41,3.19,...,3.38,3.30,2.92,2.97,3.08,2.73,2.46,2.26,1.80,Lower middle income
34,"Congo, Rep.",COG,2.19,1.70,1.92,1.92,1.72,1.71,1.90,2.24,...,1.75,1.91,1.94,1.97,2.46,2.79,2.52,1.94,2.08,Lower middle income
23,Brunei Darussalam,BRN,2.55,2.54,2.61,2.56,2.24,1.92,1.96,1.88,...,1.86,1.85,1.90,1.91,2.39,2.55,2.27,2.41,2.16,High income
133,Papua New Guinea,PNG,2.30,2.78,2.45,2.59,2.45,2.43,2.42,2.14,...,2.29,2.67,3.00,3.27,1.82,2.33,2.23,2.27,2.30,Lower middle income
11,Benin,BEN,3.25,3.04,3.04,3.08,2.93,2.97,2.89,2.70,...,3.10,3.41,2.86,2.67,2.91,2.74,2.62,2.50,2.39,Lower middle income
13,Bangladesh,BGD,2.06,2.26,2.31,2.34,2.41,2.48,2.56,2.49,...,2.76,2.75,2.65,2.66,2.64,2.47,2.43,2.51,2.48,Lower middle income
0,Angola,AGO,4.48,3.33,3.55,3.97,2.85,2.69,2.97,3.32,...,2.65,2.40,2.73,2.43,2.61,2.71,2.79,2.54,2.53,Lower middle income
92,Lao PDR,LAO,4.29,3.70,4.48,3.54,3.34,2.93,3.15,2.77,...,1.94,2.08,2.40,2.30,2.45,2.36,2.53,2.25,2.60,Lower middle income
58,Gabon,GAB,3.15,3.33,3.54,3.33,2.93,3.15,3.16,2.79,...,2.56,2.42,2.84,2.53,2.66,3.11,2.78,2.75,2.77,Upper middle income

In [26]:
%matplotlib inline

In [27]:
# Import dependencies.
import matplotlib.pyplot as plt