In [1]:
#initial imports
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
#files to load
population = ("Resources/population.csv")
country_code_file_path =("Resources/country-codes.csv") 
countries_region_income = ("Resources/countries_region_income.csv")

In [3]:
#read into dataframe
population_data = pd.read_csv(population)
df = pd.DataFrame(population_data)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/16/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1806279.0
266,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,...,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0,30490639.0
267,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,...,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0,60041996.0
268,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,...,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0,18920657.0
269,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,...,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0,15092171.0

In [4]:
#get header rows
#a. create empty list for headers
headers = []

In [5]:
#b. drop first 3 rows with no data
population_df = df.iloc[3:, :]

#c. use new first row as headers
headers = population_df.iloc[0]
population_df = population_df[1:]
population_df.columns = headers

population_df.head(10)

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
5,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,694665117.0
6,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,39835428.0
7,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,470898870.0
8,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,33933611.0
9,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0,2811666.0
10,Andorra,AND,"Population, total",SP.POP.TOTL,13410.0,14378.0,15379.0,16407.0,17466.0,18542.0,...,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0,77354.0
11,Arab World,ARB,"Population, total",SP.POP.TOTL,92197715.0,94724540.0,97334438.0,100034191.0,102832792.0,105736428.0,...,371437642.0,379696477.0,387899835.0,396028301.0,404042892.0,411942825.0,419851989.0,427870273.0,436080728.0,444517783.0
12,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,92417.0,100801.0,112112.0,125130.0,138049.0,149855.0,...,9141598.0,9197908.0,9214182.0,9262896.0,9360975.0,9487206.0,9630966.0,9770526.0,9890400.0,9991083.0
13,Argentina,ARG,"Population, total",SP.POP.TOTL,20481781.0,20817270.0,21153042.0,21488916.0,21824427.0,22159644.0,...,41733271.0,42202935.0,42669500.0,43131966.0,43590368.0,44044811.0,44494502.0,44938712.0,45376763.0,45808747.0

In [6]:
#drop columns that will not be of use
population_df = population_df.drop(population_df.columns[2:45], axis=1)
population_df = population_df.drop(population_df.columns[21:23], axis=1)
population_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
4,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,101665.0,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0
5,Africa Eastern and Southern,AFE,408522129.0,419223717.0,430246635.0,441630149.0,453404076.0,465581372.0,478166911.0,491173160.0,...,518468229.0,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0
6,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,29185511.0,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0
7,Africa Western and Central,AFW,274433894.0,281842480.0,289469530.0,297353098.0,305520588.0,313985474.0,322741656.0,331772330.0,...,350556886.0,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0
8,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,23356247.0,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,1701154.0,1702310.0,1703466.0,1704622.0,1705780.0,1719536.0,1733404.0,1747383.0,...,1775680.0,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0
266,"Yemen, Rep.",YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,23154854.0,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0
267,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,51216967.0,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0
268,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,13605986.0,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0
269,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,12697728.0,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0

In [7]:
#clean Up DataFrame
#replace column names
population_df = population_df.set_axis(['Country_Name', 'Country_Code', '2001', '2002','2003','2004','2005','2006',
                                            '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017',
                                            '2018','2019'], axis = 1)
population_df.head()

,Country_Name,Country_Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
4,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,101665.0,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0
5,Africa Eastern and Southern,AFE,408522129.0,419223717.0,430246635.0,441630149.0,453404076.0,465581372.0,478166911.0,491173160.0,...,518468229.0,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0
6,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,29185511.0,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0
7,Africa Western and Central,AFW,274433894.0,281842480.0,289469530.0,297353098.0,305520588.0,313985474.0,322741656.0,331772330.0,...,350556886.0,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0
8,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,23356247.0,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0

In [8]:
print(population_df.dtypes)
print(population_df.shape)

Country_Name     object
Country_Code     object
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
dtype: object
(266, 21)

## Merge with country codes list

In [9]:
#create df
#read in df for with country codes
country_codes = pd.read_csv(country_code_file_path)
country_codes_df = pd.DataFrame(country_codes)
country_codes_df

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [10]:
#rename country column in country_codes_df
country_codes_df = country_codes_df.rename({"English short name lower case": "Country_Name", "Alpha-3 code":"Country_Code"}, axis=1)
country_codes_df

          Country_Name Alpha-2 code Country_Code  Numeric code     ISO 3166-2
0          Afghanistan           AF          AFG             4  ISO 3166-2:AF
1        Åland Islands           AX          ALA           248  ISO 3166-2:AX
2              Albania           AL          ALB             8  ISO 3166-2:AL
3              Algeria           DZ          DZA            12  ISO 3166-2:DZ
4       American Samoa           AS          ASM            16  ISO 3166-2:AS
..                 ...          ...          ...           ...            ...
241  Wallis and Futuna           WF          WLF           876  ISO 3166-2:WF
242     Western Sahara           EH          ESH           732  ISO 3166-2:EH
243              Yemen           YE          YEM           887  ISO 3166-2:YE
244             Zambia           ZM          ZMB           894  ISO 3166-2:ZM
245           Zimbabwe           ZW          ZWE           716  ISO 3166-2:ZW

[246 rows x 5 columns]

In [11]:
#merge df with region_income_df
population_df = population_df.merge(country_codes_df, how="left", left_on=["Country_Code"], right_on=["Country_Code"])
population_df

,Country_Name_x,Country_Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,Country_Name_y,Alpha-2 code,Numeric code,ISO 3166-2
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,Aruba,AW,533.0,ISO 3166-2:AW
1,Africa Eastern and Southern,AFE,408522129.0,419223717.0,430246635.0,441630149.0,453404076.0,465581372.0,478166911.0,491173160.0,...,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,Afghanistan,AF,4.0,ISO 3166-2:AF
3,Africa Western and Central,AFW,274433894.0,281842480.0,289469530.0,297353098.0,305520588.0,313985474.0,322741656.0,331772330.0,...,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,NaN,NaN,NaN,NaN
4,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,Angola,AO,24.0,ISO 3166-2:AO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,1701154.0,1702310.0,1703466.0,1704622.0,1705780.0,1719536.0,1733404.0,1747383.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,Yemen,YE,887.0,ISO 3166-2:YE
263,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,South Africa,ZA,710.0,ISO 3166-2:ZA
264,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,Zambia,ZM,894.0,ISO 3166-2:ZM
265,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,Zimbabwe,ZW,716.0,ISO 3166-2:ZW

In [12]:
print(population_df.columns)

Index(['Country_Name_x', 'Country_Code', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', 'Country_Name_y',
       'Alpha-2 code', 'Numeric code', 'ISO 3166-2'],
      dtype='object')

In [13]:
#check null values
population_df.isnull().sum()

Country_Name_x     0
Country_Code       0
2001               1
2002               1
2003               1
2004               1
2005               1
2006               1
2007               1
2008               1
2009               1
2010               1
2011               1
2012               2
2013               2
2014               2
2015               2
2016               2
2017               2
2018               2
2019               2
Country_Name_y    54
Alpha-2 code      55
Numeric code      54
ISO 3166-2        54
dtype: int64

In [14]:
#Check that null values are not actually countries
new_null_rows = population_df[population_df.isna().any(axis=1)]
new_null_rows_df = pd.DataFrame(new_null_rows)
new_null_rows_df["Country_Name_x"]

1                            Africa Eastern and Southern
3                             Africa Western and Central
7                                             Arab World
36                        Central Europe and the Baltics
38                                       Channel Islands
49                                Caribbean small states
51                                               Curacao
61           East Asia & Pacific (excluding high income)
62                            Early-demographic dividend
63                                   East Asia & Pacific
64         Europe & Central Asia (excluding high income)
65                                 Europe & Central Asia
68                                             Euro area
69                                               Eritrea
73                                        European Union
74              Fragile and conflict affected situations
95                                           High income
98                Heavily indebted poor countries (HIPC)
102                                            IBRD only
103                                     IDA & IBRD total
104                                            IDA total
105                                            IDA blend
107                                             IDA only
110                                       Not classified
128    Latin America & Caribbean (excluding high income)
134                            Latin America & Caribbean
135         Least developed countries: UN classification
136                                           Low income
139                                  Lower middle income
140                                  Low & middle income
142                            Late-demographic dividend
153                           Middle East & North Africa
156                                        Middle income
161    Middle East & North Africa (excluding high inc...
170                                        North America
171                                              Namibia
181                                         OECD members
183                                   Other small states
191                             Pre-demographic dividend
197                          Pacific island small states
198                            Post-demographic dividend
204                                           South Asia
215           Sub-Saharan Africa (excluding high income)
216                                          South Sudan
217                                   Sub-Saharan Africa
218                                         Small states
225                            Sint Maarten (Dutch part)
230           East Asia & Pacific (IDA & IBRD countries)
231         Europe & Central Asia (IDA & IBRD countries)
236    Latin America & the Caribbean (IDA & IBRD coun...
238    Middle East & North Africa (IDA & IBRD countries)
240                              South Asia (IDA & IBRD)
241            Sub-Saharan Africa (IDA & IBRD countries)
249                                  Upper middle income
259                                                World
261                                               Kosovo
Name: Country_Name_x, dtype: object

In [15]:
#drop rows that are not countries
population_df = population_df.dropna()
population_df

,Country_Name_x,Country_Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,Country_Name_y,Alpha-2 code,Numeric code,ISO 3166-2
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,Aruba,AW,533.0,ISO 3166-2:AW
2,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,Afghanistan,AF,4.0,ISO 3166-2:AF
4,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,Angola,AO,24.0,ISO 3166-2:AO
5,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,Albania,AL,8.0,ISO 3166-2:AL
6,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,Andorra,AD,20.0,ISO 3166-2:AD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,Samoa,WS,882.0,ISO 3166-2:WS
262,"Yemen, Rep.",YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,Yemen,YE,887.0,ISO 3166-2:YE
263,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,South Africa,ZA,710.0,ISO 3166-2:ZA
264,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,Zambia,ZM,894.0,ISO 3166-2:ZM
265,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,Zimbabwe,ZW,716.0,ISO 3166-2:ZW

In [16]:
#clean up data frame

#a. drop country name row from GDP_growth_df
population_df = population_df.drop(['Country_Name_x', 'Alpha-2 code', 'Numeric code', 'ISO 3166-2'], axis=1)

#b. rename new Country name Column
population_df = population_df.rename({"Country_Name_y": "Country_Name"}, axis=1)

In [17]:
#c. list column names 
columns = list(population_df.columns.values)
print(columns)

['Country_Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', 'Country_Name']

In [18]:
#d.reorganize columns
population_df = population_df.loc[:,["Country_Name",'Country_Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']]
population_df

,Country_Name,Country_Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,101665.0,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0
2,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,29185511.0,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0
4,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,23356247.0,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0
5,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0
6,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,84454.0,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,185944.0,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0
262,Yemen,YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,23154854.0,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0
263,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,51216967.0,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0
264,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,13605986.0,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0
265,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,12697728.0,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0

## Region Income

In [19]:
#read in csv
region_income = pd.read_csv(countries_region_income)

#create DataFrame
region_income_df = pd.DataFrame(region_income)
region_income_df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [20]:
#merge df with region_income_df
population_df = population_df.merge(region_income_df, how="left", left_on=["Country_Code"], right_on=["Country Code"])
population_df

,Country_Name,Country_Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,104339.0,104865.0,105361.0,105846.0,106310.0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
2,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
3,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,ALB,Europe & Central Asia,Upper middle income,NaN,Albania
4,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,77993.0,77295.0,76997.0,77008.0,77146.0,AND,Europe & Central Asia,High income,NaN,Andorra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,193510.0,194540.0,195358.0,196128.0,197093.0,WSM,East Asia & Pacific,Lower middle income,The reporting period for national accounts dat...,Samoa
206,Yemen,YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
207,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
208,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
209,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [21]:
#check null values
population_df.isnull().sum()

Country_Name      0
Country_Code      0
2001              0
2002              0
2003              0
2004              0
2005              0
2006              0
2007              0
2008              0
2009              0
2010              0
2011              0
2012              0
2013              0
2014              0
2015              0
2016              0
2017              0
2018              0
2019              0
Country Code      0
Region            0
IncomeGroup       1
SpecialNotes    124
TableName         0
dtype: int64

In [22]:
#drop unnecessary columns
#a. list columns
columns = list(population_df.columns.values)
print(columns)

['Country_Name', 'Country_Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', 'Country Code', 'Region', 'IncomeGroup', 'SpecialNotes', 'TableName']

In [23]:
#b. drop columns
population_df = population_df.drop(['Region', 'SpecialNotes', 'TableName', 'Country Code'], axis=1)
population_df

,Country_Name,Country_Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,IncomeGroup
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,High income
1,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,Low income
2,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,Lower middle income
3,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,Upper middle income
4,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,Lower middle income
206,Yemen,YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,Low income
207,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,Upper middle income
208,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,Low income
209,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,Lower middle income

In [24]:
#b. rename  income group column
population_df = population_df.rename({"IncomeGroup": "Income_Group"}, axis=1)
population_df

,Country_Name,Country_Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Income_Group
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,High income
1,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,Low income
2,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,Lower middle income
3,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,Upper middle income
4,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,Lower middle income
206,Yemen,YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,Low income
207,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,Upper middle income
208,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,Low income
209,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,Lower middle income

In [25]:
#replace column names
population_df = population_df.set_axis(['country_name', 'country_code', 'p_2001', 'p_2002','p_2003','p_2004','p_2005','p_2006',
                                            'p_2007','p_2008','p_2009','p_2010','p_2011','p_2012','p_2013','p_2014','p_2015','p_2016','p_2017',
                                            'p_2018','p_2019', 'income_group'], axis = 1)
population_df

,country_name,country_code,p_2001,p_2002,p_2003,p_2004,p_2005,p_2006,p_2007,p_2008,...,p_2011,p_2012,p_2013,p_2014,p_2015,p_2016,p_2017,p_2018,p_2019,income_group
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,High income
1,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,Low income
2,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,Lower middle income
3,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,Upper middle income
4,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,Lower middle income
206,Yemen,YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,Low income
207,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,Upper middle income
208,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,Low income
209,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,Lower middle income

In [26]:
#check null values
population_df.isnull().sum()

country_name    0
country_code    0
p_2001          0
p_2002          0
p_2003          0
p_2004          0
p_2005          0
p_2006          0
p_2007          0
p_2008          0
p_2009          0
p_2010          0
p_2011          0
p_2012          0
p_2013          0
p_2014          0
p_2015          0
p_2016          0
p_2017          0
p_2018          0
p_2019          0
income_group    1
dtype: int64

In [27]:
#drop null row
population_df = population_df.dropna()
population_df.isnull().sum()

country_name    0
country_code    0
p_2001          0
p_2002          0
p_2003          0
p_2004          0
p_2005          0
p_2006          0
p_2007          0
p_2008          0
p_2009          0
p_2010          0
p_2011          0
p_2012          0
p_2013          0
p_2014          0
p_2015          0
p_2016          0
p_2017          0
p_2018          0
p_2019          0
income_group    0
dtype: int64

In [28]:
#Simplify income groups for machine learning
population_df['income_group'] = population_df["income_group"].str.replace("Upper middle income", "High income", case=False)
population_df['income_group'] = population_df["income_group"].str.replace("Lower middle income", "Low income", case=False)
population_df

,country_name,country_code,p_2001,p_2002,p_2003,p_2004,p_2005,p_2006,p_2007,p_2008,...,p_2011,p_2012,p_2013,p_2014,p_2015,p_2016,p_2017,p_2018,p_2019,income_group
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,High income
1,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,Low income
2,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,Low income
3,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,High income
4,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,Low income
206,Yemen,YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,Low income
207,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,High income
208,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,Low income
209,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,Low income

In [29]:
#export to csv
population_df.to_csv("Resources/cleaned_datasets/clean_population.csv",index=False)

## Top 10, bottom 10, mean

In [30]:
#check data types
population_df.dtypes

country_name     object
country_code     object
p_2001          float64
p_2002          float64
p_2003          float64
p_2004          float64
p_2005          float64
p_2006          float64
p_2007          float64
p_2008          float64
p_2009          float64
p_2010          float64
p_2011          float64
p_2012          float64
p_2013          float64
p_2014          float64
p_2015          float64
p_2016          float64
p_2017          float64
p_2018          float64
p_2019          float64
income_group     object
dtype: object

In [31]:
#find top 10 countries
top_10_countries = population_df.sort_values(by="p_2019",ascending= False).head(10)
top_10_countries = top_10_countries.reset_index(drop=True)


print("Countries With the Largest Population in 2019")
top_10_countries

Countries With the Largest Population in 2019

,country_name,country_code,p_2001,p_2002,p_2003,p_2004,p_2005,p_2006,p_2007,p_2008,...,p_2011,p_2012,p_2013,p_2014,p_2015,p_2016,p_2017,p_2018,p_2019,income_group
0,China,CHN,1.271850e+09,1.280400e+09,1.288400e+09,1.296075e+09,1.303720e+09,1.311020e+09,1.317885e+09,1.324655e+09,...,1.345035e+09,1.354190e+09,1.363240e+09,1.371860e+09,1.379860e+09,1.387790e+09,1.396215e+09,1.402760e+09,1.407745e+09,High income
1,India,IND,1.075000e+09,1.093317e+09,1.111523e+09,1.129623e+09,1.147610e+09,1.165486e+09,1.183209e+09,1.200670e+09,...,1.250288e+09,1.265780e+09,1.280842e+09,1.295601e+09,1.310152e+09,1.324517e+09,1.338677e+09,1.352642e+09,1.366418e+09,Low income
2,United States,USA,2.849690e+08,2.876252e+08,2.901079e+08,2.928053e+08,2.955166e+08,2.983799e+08,3.012312e+08,3.040940e+08,...,3.115835e+08,3.138777e+08,3.160599e+08,3.183863e+08,3.207390e+08,3.230718e+08,3.251221e+08,3.268382e+08,3.283300e+08,High income
3,Indonesia,IDN,2.144274e+08,2.173578e+08,2.203095e+08,2.232857e+08,2.262895e+08,2.293183e+08,2.323742e+08,2.354698e+08,...,2.451160e+08,2.484517e+08,2.518053e+08,2.551281e+08,2.583833e+08,2.615564e+08,2.646510e+08,2.676705e+08,2.706256e+08,Low income
4,Pakistan,PAK,1.459784e+08,1.495497e+08,1.530934e+08,1.566647e+08,1.603040e+08,1.640226e+08,1.678081e+08,1.716490e+08,...,1.833402e+08,1.872801e+08,1.912608e+08,1.953050e+08,1.994270e+08,2.036314e+08,2.079062e+08,2.122283e+08,2.165653e+08,Low income
5,Brazil,BRA,1.771961e+08,1.795375e+08,1.818092e+08,1.840065e+08,1.861271e+08,1.881674e+08,1.901304e+08,1.920304e+08,...,1.975145e+08,1.992873e+08,2.010359e+08,2.027637e+08,2.044718e+08,2.061631e+08,2.078338e+08,2.094693e+08,2.110495e+08,High income
6,Nigeria,NGA,1.253940e+08,1.285961e+08,1.319006e+08,1.353204e+08,1.388650e+08,1.425383e+08,1.463400e+08,1.502696e+08,...,1.628051e+08,1.672288e+08,1.717658e+08,1.764049e+08,1.811375e+08,1.859602e+08,1.908732e+08,1.958747e+08,2.009636e+08,Low income
7,Bangladesh,BGD,1.300887e+08,1.324781e+08,1.347916e+08,1.369864e+08,1.390355e+08,1.409212e+08,1.426604e+08,1.443042e+08,...,1.492731e+08,1.510057e+08,1.527614e+08,1.545174e+08,1.562563e+08,1.579772e+08,1.596854e+08,1.613767e+08,1.630462e+08,Low income
8,Russian Federation,RUS,1.459765e+08,1.453065e+08,1.446486e+08,1.440673e+08,1.435188e+08,1.430496e+08,1.428051e+08,1.427424e+08,...,1.429609e+08,1.432017e+08,1.435070e+08,1.438197e+08,1.440969e+08,1.443424e+08,1.444967e+08,1.444779e+08,1.444063e+08,High income
9,Mexico,MEX,1.002982e+08,1.016848e+08,1.030810e+08,1.045149e+08,1.060052e+08,1.075602e+08,1.091705e+08,1.108153e+08,...,1.156955e+08,1.172742e+08,1.188272e+08,1.203551e+08,1.218583e+08,1.233334e+08,1.247773e+08,1.261908e+08,1.275755e+08,High income

In [32]:
#Find the bottom ten countries in 2019.
#find 10 countries with cmallest gdp growth
bottom_10_countries = population_df.sort_values(by="p_2019",ascending= True).head(10)
#reset index
bottom_10_countries = bottom_10_countries.reset_index(drop=True)

print('Countries With the Smallest Population in 2019')
bottom_10_countries

Countries With the Smallest Population in 2019

,country_name,country_code,p_2001,p_2002,p_2003,p_2004,p_2005,p_2006,p_2007,p_2008,...,p_2011,p_2012,p_2013,p_2014,p_2015,p_2016,p_2017,p_2018,p_2019,income_group
0,Nauru,NRU,10219.0,10102.0,9990.0,9906.0,9848.0,9827.0,9846.0,9880.0,...,10069.0,10136.0,10208.0,10289.0,10374.0,10474.0,10577.0,10678.0,10764.0,High income
1,Tuvalu,TUV,9478.0,9593.0,9724.0,9871.0,9997.0,10118.0,10219.0,10315.0,...,10626.0,10744.0,10849.0,10973.0,11099.0,11232.0,11365.0,11505.0,11655.0,High income
2,Palau,PLW,19390.0,19642.0,19812.0,19861.0,19784.0,19545.0,19159.0,18708.0,...,17748.0,17635.0,17603.0,17625.0,17665.0,17718.0,17809.0,17911.0,18001.0,High income
3,"Virgin Islands, British",VGB,20675.0,21128.0,21674.0,22329.0,23106.0,24022.0,25050.0,26096.0,...,28326.0,28654.0,28850.0,28985.0,29148.0,29355.0,29567.0,29795.0,30033.0,High income
4,Gibraltar,GIB,31604.0,32097.0,32556.0,32930.0,33222.0,33420.0,33524.0,33570.0,...,33608.0,33653.0,33694.0,33726.0,33742.0,33738.0,33723.0,33715.0,33706.0,High income
5,San Marino,SMR,27818.0,28175.0,28561.0,28942.0,29324.0,29694.0,30068.0,30434.0,...,31655.0,32103.0,32554.0,32941.0,33270.0,33503.0,33671.0,33784.0,33864.0,High income
6,Saint Martin (French part),MAF,29847.0,30913.0,32055.0,33187.0,34252.0,35240.0,36138.0,36880.0,...,37451.0,37012.0,36458.0,36018.0,35865.0,36061.0,36569.0,37264.0,38002.0,High income
7,Liechtenstein,LIE,33543.0,33885.0,34172.0,34444.0,34718.0,34975.0,35217.0,35469.0,...,36299.0,36615.0,36940.0,37219.0,37465.0,37655.0,37805.0,37918.0,38020.0,High income
8,Turks and Caicos Islands,TCA,21578.0,23230.0,25008.0,26709.0,28181.0,29394.0,30383.0,31200.0,...,33371.0,34067.0,34733.0,35371.0,35979.0,36558.0,37116.0,37667.0,38194.0,High income
9,Monaco,MCO,32474.0,32804.0,33144.0,33499.0,33842.0,34189.0,34524.0,34860.0,...,36025.0,36459.0,36899.0,37320.0,37723.0,38070.0,38392.0,38682.0,38967.0,High income

In [33]:
#create df of mean global population
#create varible
mean_population_by_year = population_df.mean(axis = 0, numeric_only=None)
#create df with varible
mean_population_df = pd.DataFrame(mean_population_by_year)
#turn axis into column
mean_population_df.reset_index(inplace=True)
#set axis name
mean_population_df = mean_population_df.set_axis(['Year','Mean'], axis=1)

mean_population_df

      Year          Mean
0   p_2001  2.934939e+07
1   p_2002  2.972313e+07
2   p_2003  3.009721e+07
3   p_2004  3.047382e+07
4   p_2005  3.085283e+07
5   p_2006  3.123542e+07
6   p_2007  3.162033e+07
7   p_2008  3.201169e+07
8   p_2009  3.240196e+07
9   p_2010  3.279120e+07
10  p_2011  3.317873e+07
11  p_2012  3.358334e+07
12  p_2013  3.399203e+07
13  p_2014  3.440240e+07
14  p_2015  3.481154e+07
15  p_2016  3.522287e+07
16  p_2017  3.563411e+07
17  p_2018  3.603450e+07
18  p_2019  3.642338e+07

In [34]:
#export to csv
mean_population_df.to_csv("Resources/cleaned_datasets/mean_population.csv", index=False)